
<div class="container">
        <h1>Willkommen bei <b>eXXellent Nights!</b></h1>

<!-- Available Rooms -->
    <div class="room-list">
        <h2>Verfügbare Hotelzimmer Liste | Gesamtzahl der verfügbare Zimmer</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Zimmer Nummer</th>
                <th>Zimmer Größe</th>
                <th>Minibar</th>
                <th>Is Available</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hotelzimmer of availablezimmerList" (click)="open(content, hotelzimmer)" class="clickable-row">
                    <td>{{hotelzimmer.zimmerNummer}}</td>
                    <td>{{hotelzimmer.zimmergroesse}}</td>
                    <td>{{hotelzimmer.minibar ? 'Yes' : 'No'}}</td>
                    <td>{{hotelzimmer.isAvailable ? 'Yes' : 'No'}}</td>
                    </tr>
            </tbody>
        </table>
    <div>   
        <!-- Total Rooms --> 
    <div class="room-list">
        <h2>Hotelzimmer Liste | Gesamtzahl der vorhandenen Zimmer</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Zimmer Nummer</th>
                <th>Zimmer Größe</th>
                <th>Minibar</th>
                <th>Is Available</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hotelzimmer of hotelzimmerList" (click)="open(content, hotelzimmer)" class="clickable-row">
                    <td>{{hotelzimmer.zimmerNummer}}</td>
                    <td>{{hotelzimmer.zimmergroesse}}</td>
                    <td>{{hotelzimmer.minibar ? 'Yes' : 'No'}}</td>
                    <td>{{hotelzimmer.isAvailable ? 'Yes' : 'No'}}</td>
                    </tr>
            </tbody>
        </table>
  <div>    

</div>

<!-- The modal -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Zimmer Details</h4>
      <!-- Edit button -->
      <button type="button" class="btn btn-secondary position-absolute end-0 me-2" (click)="editHotelzimmer(selectedRoom)">Edit</button>
    </div>
    
    <div *ngIf="!isEditMode" class="modal-body">
      <!-- Non-edit mode: Display room details -->
      <p>Zimmer Nummer: {{selectedRoom.zimmerNummer}}</p>
      <p>Zimmergröße: {{selectedRoom.zimmergroesse}}</p>
      <p>Minibar: {{selectedRoom.minibar ? 'Ja' : 'Nein'}}</p>
      <p>Verfügbar: {{selectedRoom.isAvailable ? 'Ja' : 'Nein'}}</p>
    </div>
    <div *ngIf="showNotification" [@fade] class="notification">
        {{ notificationMessage }}
      </div> 
    <form *ngIf="isEditMode" (ngSubmit)="submitEdit(selectedRoom.zimmerNummer)" class="modal-body">
      <!-- Edit mode: Editable fields for room details -->
      <div class="form-group mb-2">
        <label for="zimmergroesse">Zimmergröße:</label>
        <select class="form-control" id="zimmergroesse" [(ngModel)]="selectedRoom.zimmergroesse" name="zimmergroesse">
            <option *ngFor="let option of zimmergroessenMapping" [ngValue]="option.key">
              {{ option.value }}
            </option>
          </select>
      </div>
      <div class="form-group mb-2">
        <label for="minibar">Minibar:</label>
        <select class="form-control" id="minibar" [(ngModel)]="selectedRoom.minibar" name="minibar">
          <option [ngValue]="true">Ja</option>
          <option [ngValue]="false">Nein</option>
        </select>
      </div>
      <!-- Submit and Cancel buttons for edit mode -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="showSuccessNotification('Änderung gespeichert!')">Änderungen speichern</button>
        <button type="button" class="btn btn-outline-secondary" (click)="isEditMode=false">Abbrechen</button>
      </div>
    </form>
    
    <!-- Book and Cancel buttons, displayed when not in edit mode -->
    <div *ngIf="!isEditMode" class="modal-footer">
      <button type="button" class="btn btn-success" *ngIf="selectedRoom.isAvailable" (click)="bookHotelzimmer(selectedRoom.zimmerNummer); showSuccessNotification('Erfolgreiche Reservierung!')">Book</button>
      <button type="button" class="btn btn-warning" *ngIf="!selectedRoom.isAvailable" (click)="cancelHotelzimmer(selectedRoom.zimmerNummer); showSuccessNotification('Reservierung storniert!')">Cancel Booking</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
    </div>    
  </ng-template>
  
<router-outlet />